<div class="container" >
    <div class="row">
      <div class="col-6 col-sm-6 col-lg-6 col-md-6">
          <div class="container">
            <p class="text-main">Easy CAR</p>
            <p class="text-main-second" >Aluguel de Carros </p>
            <p class="text-main-second" > Descomplicado! </p>
          </div>
      </div>

      <div class="col-6 col-sm-6 col-lg-6  col-md-6 ">
        <div class="backgraoundColor"><svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
              <path fill="#000000" d="M42.5,-70.6C54.3,-66.7,62.7,-53.9,71.6,-40.6C80.5,-27.3,90.1,-13.7,87.9,-1.3C85.7,11.2,71.9,22.3,63.1,35.9C54.3,49.4,50.6,65.4,41,73C31.3,80.6,15.6,80,1,78.2C-13.6,76.4,-27.2,73.5,-38.1,66.6C-49,59.6,-57.2,48.7,-63.2,36.9C-69.2,25.2,-73,12.6,-75.2,-1.3C-77.4,-15.1,-78,-30.2,-72.7,-43.3C-67.4,-56.3,-56.3,-67.3,-43.2,-70.4C-30.1,-73.5,-15.1,-68.8,0.1,-69C15.3,-69.2,30.6,-74.4,42.5,-70.6Z" transform="translate(100 100)" />
            </svg>
       <a href="">  <img class="car" src="../assets/imagens/carro.png" alt=""></a>
        </div>
    </div>
      
    </div>

    <div class="row">
      <div class="col">
               
              <div class="text-home">
                <p class="text-company"> Easy Car simplifica o aluguel de carros com uma interface intuitiva, variedade de veículos, transparência de preços e opções flexíveis. Com fácil acesso, reserva rápida e total conveniência, tornamos sua vida mais simples em todas as suas viagens. Experimente agora e descubra como o Easy Car pode facilitar sua jornada!
                </p>
              </div>
              <div class="container" style="margin-top: 20px; ">
                <div class="row">
                  <div class="col-sm col-lg-5">
                        <img class="images" src="../assets/imagens/pt-br_badge_web_generic.png" alt="">
                    </div>

                      <div class="col-sm col-lg-5">
                          <img  class="image-wrapper" src="../assets/imagens/image (1).png" alt="">
                      </div>
                  </div>
              </div>
      </div>
    </div>
  </div>