
  

    <div class="company">


        <div class="container">

            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">

                    <img class="img3" src="assets/imagens/team.png" alt="" />


                </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">


                        <div class="company-info">
                        
                            <span>Sobre 
                             
                                <span class="our">NÒS</span>
                            </span>
                            <p style="margin-left: 20px;">
                              <b>A Easy Car</b> é uma equipe apaixonada de entusiastas automotivos e especialistas em tecnologia, dedicados a simplificar o processo de aluguel de carros. Nossa visão é oferecer a você não apenas veículos confiáveis, mas também um serviço personalizado que atenda às suas necessidades individuais
                            </p>
                 
                          </div>
    
                     </div>
                </div>
            </div>




    </div>
    
    <div class="align-forms">
        <section id="contact">
            <div class="contact-box">
              <div class="contact-links">
                <h2>CONTACT</h2>
                <div class="links">
                  <div class="link">
                    <a><img class="img2" src="https://i.postimg.cc/m2mg2Hjm/linkedin.png" alt="linkedin"></a>
                  </div>
                  <div class="link">
                    <a><img class="img2" src="https://i.postimg.cc/YCV2QBJg/github.png" alt="github"></a>
                  </div>
                  <div class="link">
                    <a><img class="img2" src="https://i.postimg.cc/W4Znvrry/codepen.png" alt="codepen"></a>
                  </div>
                  <div class="link">
                    <a><img class="img2" src="https://i.postimg.cc/NjLfyjPB/email.png" alt="email"></a>
                  </div>
                </div>
              </div>
              <div class="contact-form-wrapper">
                <form>
                  <div class="form-item">
                    <input type="text" name="sender" required>
                    <label>Name:</label>
                  </div>
                  <div class="form-item">
                    <input type="text" name="email" required>
                    <label>Email:</label>
                  </div>
                  <div class="form-item">
                    <textarea class="" name="message" required></textarea>
                    <label>Message:</label>
                  </div>
                  <button class="submit-btn">Send</button>  
                </form>
              </div>
            </div>
          </section>
            

    </div>