
<header class="header">
    <div class="container">
      <div class="header__logo">
      <h1 class="header__logo__name" style="color: aliceblue;">EASY CARS</h1>
    </div>
    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__item"><a routerLink="/home" class="header__link">Home</a></li>
        <li class="header__item"><a routerLink="/relatorio" class="header__link">Carros</a></li>
        <li class="header__item"><a routerLink="/faq"class="header__link">Faq</a></li>     
      </ul>
    </nav>

    </div>
  </header>
  
  
  <div class="main"></div>
  